<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Iniciar Sesión</title>
</head>
<body class="bg-white min-h-screen flex items-center justify-center text-black">

    <div class="bg-gray-100 border border-black shadow-lg p-8 rounded-xl w-full max-w-md">
        <h2 class="text-3xl font-bold text-center text-black mb-6">
            Iniciar Sesión
        </h2>

        <form method="POST">
            {% csrf_token %}

            <label class="block mb-3 font-semibold">
                Email
                <input required type="email" name="email"
                       class="w-full mt-1 p-2 rounded bg-white border border-black text-black">
            </label>

            <label class="block mb-4 font-semibold">
                Contraseña
                <input required type="password" name="password"
                       class="w-full mt-1 p-2 rounded bg-white border border-black text-black">
            </label>

            {% if messages %}
                <div class="mb-4">
                    {% for message in messages %}
                        <p class="text-red-600 text-sm text-center">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <button type="submit"
                class="w-full bg-black hover:bg-gray-800 text-white font-semibold py-2 rounded mt-2">
                Entrar
            </button>
        </form>

        <p class="text-center mt-5 text-sm">
            ¿No tenés cuenta?
            <a href="{% url 'register' %}" class="font-semibold underline">
                Registrate acá
            </a>
        </p>
    </div>

</body>
</html>
