<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white text-black flex justify-center items-center h-400px">

    <div class="bg-gray-100 p-8 rounded-xl shadow-xl w-full max-w-md border border-black">

        <h2 class="text-3xl font-bold text-center text-black mb-6">
            Crear cuenta de alumno
        </h2>

        <form method="post">
            {% csrf_token %}

            <!-- Nombre -->
            <label class="block mb-1 font-semibold">Nombre</label>
            <input type="text" name="nombre" required
                   class="w-full mb-4 p-2 rounded bg-white border border-black text-black">

            <!-- Apellido -->
            <label class="block mb-1 font-semibold">Apellido</label>
            <input type="text" name="apellido" required
                   class="w-full mb-4 p-2 rounded bg-white border border-black text-black">

            <!-- DNI -->
            <label class="block mb-1 font-semibold">DNI</label>
            <input type="text" name="dni" required
                   class="w-full mb-4 p-2 rounded bg-white border border-black text-black">

            <!-- Email -->
            <label class="block mb-1 font-semibold">Email</label>
            <input type="email" name="email" required
                   class="w-full mb-4 p-2 rounded bg-white border border-black text-black">

            <!-- Año Universitario -->
            <label class="block mb-1 font-semibold">Año universitario</label>
            <input type="number" name="anio_universitario" min="1" max="10" required
                   class="w-full mb-4 p-2 rounded bg-white border border-black text-black">

            <!-- Carrera -->
            <label class="block mb-1 font-semibold">Carrera</label>
            <select name="carrera" required
                    class="w-full mb-4 p-2 rounded bg-white border border-black text-black">
                {% for c in carreras %}
                    <option value="{{ c.id_carrera }}">{{ c.nombre }}</option>
                {% endfor %}
            </select>

            <!-- Password -->
            <label class="block mb-1 font-semibold">Contraseña</label>
            <input type="password" name="password" required
                   class="w-full mb-4 p-2 rounded bg-white border border-black text-black">

            <!-- Confirmación -->
            <label class="block mb-1 font-semibold">Confirmar contraseña</label>
            <input type="password" name="password2" required
                   class="w-full mb-4 p-2 rounded bg-white border border-black text-black">


            <button href="{% url 'login' %}"class="w-full bg-black hover:bg-gray-800 text-white py-2 rounded mt-2 text-lg font-semibold">
                Registrarme
            </button>

        </form>

        {% if form.errors %}
            <p class="text-red-600 text-center mt-4">{{ form.errors }}</p>
        {% endif %}

        <p class="text-center mt-4">
            ¿Ya tenés cuenta?
            <a href="{% url 'login' %}" class="font-semibold underline">Iniciar sesión</a>
        </p>

    </div>

</body>
</html>
